#create-page {
    position: absolute;
    padding: 0px;
    margin: 0px;
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    margin-left: -270px;
    margin-top: -225px;
    background-color: #EEEEEE;
}