#search-row {
    position: absolute;
    top: 50px;
    width: 100%;
    

}

#search-bar {
    left: 50%;
    transform: translateX(-50%);
}

#map-search input{
    width:100%;
}

.card-header {
    padding: .25rem 1rem !important;
}