<div id="event-details-page">
    <mat-toolbar class="main-toolbar" color="primary">
      <span>Event-Details</span>
    </mat-toolbar>
    <div class="scrollable-form">
    <div class="form-container">
      <mat-card id="event-card">
        <mat-card-header>
          <mat-card-title>{{activeEvent.partyName}}</mat-card-title>
          <mat-card-subtitle>{{getEventDate() | date: 'fullDate'}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="activeEvent.pictureUrl" alt="Event Picture">
        <mat-card-content>
          <mat-card-subtitle>Description:</mat-card-subtitle>
          <p>{{activeEvent.description}}</p>
          <mat-card-subtitle>Address:</mat-card-subtitle>
          <p>{{activeEvent.address.streetName}}</p>
          <p>{{activeEvent.address.city}}</p>
          <p>{{activeEvent.address.state}}</p>
          <p>{{activeEvent.address.zipCode}}</p>
          <mat-card-subtitle>Cost:</mat-card-subtitle>
          <p>{{activeEvent.cost}}</p>
          <mat-card-subtitle>Categories:</mat-card-subtitle>
          <mat-chip-list>
            <mat-chip *ngFor="let tag of activeEvent.tagList" value="tag.id">{{tag.tagName}}</mat-chip>
          </mat-chip-list>
          <br>
          <button *ngIf="userExists() && !userIsRSVPed()" mat-raised-button color="primary" (click)="setRSVP(true)">RSVP</button>
          <button *ngIf="userExists() && userIsRSVPed()" mat-button color="primary" (click)="setRSVP(false)">Un-RSVP</button>
        </mat-card-content>
      </mat-card>
    </div>
    </div>
  </div>
