<div id="login-page">
    <mat-toolbar class="main-toolbar" color="primary">
        <span>Login</span>
    </mat-toolbar>
    <div id="login-form">
        <form class="form-container" name="loginForm">
            <mat-form-field>
                <mat-label>Username</mat-label>
                <input class="login-input" name="username" type="text" matInput required placeholder="Username" [(ngModel)]="inputUsername"/>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input class="login-input" name="password" type="password" matInput required placeholder="Password" [(ngModel)]="inputPassword"/>
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary" (click)="attemptLogin()">Log In</button>
            <p id="loginErrorField">{{errorMessage}}</p>
        </form>
    </div>
</div>