<div class="fullscreen">
    <div *ngIf="shroudOn" class="shroud-item" id="shroud"></div>
    <div class="control-panel-item" id="control-panel-div">
        <span class="control-panel-button">
            <button class="control-panel-item small-button" id="create-event-button" type="button" (click)="switchToCreate()">
                Create An Event
            </button>
        </span>
        <span class="control-panel-button">
            <button class="control-panel-item small-button" id="profile-button" type="button" (click)="switchToProfile()">
                Profile
            </button>
        </span>
        <span class="control-panel-button">
            <button *ngIf="loggedIn" class="control-panel-item small-button" id="login-logout-button" type="button" (click)="logout()">
                Log Out
            </button>
            <button *ngIf="!loggedIn" class="control-panel-item small-button" id="login-logout-button" type="button" (click)="switchToLogin()">
                Log In
            </button>
        </span>
        <span *ngIf="!loggedIn" class="control-panel-button">
            <button class="control-panel-item small-button" id="register-button" type="button" (click)="switchToRegister()">
                Register
            </button>
        </span>
      </div>
      <div *ngIf="currentActivity > 0" class="control-details-item" id="control-details">
        <button class="control-panel-item" id="exit-button" (click)="switchToNone()">X</button>
        <app-login *ngIf="currentActivity === 1" (myevent)="handleMyEvent($event)"></app-login>
        <app-register *ngIf="currentActivity === 2"></app-register>
        <app-profile *ngIf="currentActivity === 3" [username]="username" [password]="password"></app-profile>
        <app-create *ngIf="currentActivity == 4"></app-create>
      </div>
</div>
