<div id="register-page">
  <mat-toolbar class="main-toolbar" color="primary">
    <span>Register</span>
  </mat-toolbar>
  <div class="scrollable-form">
    <form class="form-container" name="registerForm">
      <mat-toolbar class="sub-nav">
        <span>Login Info</span>
      </mat-toolbar>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input name="username" type="text" matInput required placeholder="Select Username" [(ngModel)]="inputUsername">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input name="password" type="password" matInput required placeholder="Select Password" [(ngModel)]="inputPassword">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Re-Enter</mat-label>
        <input name="reenter" type="password" matInput required placeholder="Re-Enter Password" [(ngModel)]="inputReenter">
      </mat-form-field>
      <br>
      <mat-toolbar class="sub-nav">
        <span>Personal Info</span>
      </mat-toolbar>
      <mat-form-field>
        <input name="email" type="email" matInput placeholder="Your Email" [(ngModel)]="inputEmail">
      </mat-form-field>
      <mat-form-field >
        <input name="age" type="number" min="13" max="150" step="1" matInput placeholder="Your Age" [(ngModel)]="inputAge">
      </mat-form-field>
      <mat-form-field>
        <input name="street" type="text" matInput placeholder="Street Name" [(ngModel)]="inputStreet">
      </mat-form-field>
      <mat-form-field>
        <input name="city" type="text" matInput placeholder="City" [(ngModel)]="inputCity">
      </mat-form-field>
      <mat-form-field>
        <input name="state" type="text" matInput placeholder="State" [(ngModel)]="inputState">
      </mat-form-field>
      <mat-form-field>
        <input name="zipcode" type="text" matInput placeholder="Zipcode" [(ngModel)]="inputZipcode">
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary" (click)="attemptRegister()">Register</button>
      <p id="registerErrorField">{{errorField}}</p>
    </form>
  </div>
</div>