.mat-card {
    margin-bottom: 5px;
}
.mat-card-image-container {
    height:150px;
    overflow:hidden;
    margin: 0 -24px 16px -24px;
}
.mat-card-image {
    background-size: cover;
    background-position: center center;
}
